[Desktop Entry]
Categories=Application;System;
Comment[en_US]=The simple file search tool
Comment[ru_RU]=Средство для поиска файлов
Comment=The simple file search tool
Exec=FileFinder
Icon=finder
Name=FileFinder
Path=.
StartupNotify=false
Terminal=false
Type=Application
Version=1.0
Name[ru_RU]=FileFinder
